<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New user</title>
</head>
<body>
    <h2>Add new user</h2>
    <form action="/user" method="post">
        <label for="id">Id:</label>
        <input type="text" name="id" id="id">
        <br><br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br><br>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <br><br>
        <label for="password">password:</label>
        <input type="text" name="password" id="password">
        <br><br>
        <button type="submit">Add user</button>

    </form>
</body>
</html>